* {
	padding: 0px;
	margin: 0px;
}

.layer_notice {
	background: #5fb878 none repeat scroll 0 0;
	float: left;
	height: 75px;
	overflow: hidden;
	padding: 10px;
	width: 330px
}

.layer_notice ul li {
	color: #fff
}

.login {
	width: 100%;
	min-width: 260px;
	max-width: 300px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	float: left;
	margin-left: 10%;
	margin-top: 10%;
	/*position: absolute;
	left: 50%;
	top: 35%;*/
	/*margin: -150px 0 0 -150px;*/
	z-index: 99;
	text-align: center
}

.form_code {
	position: relative
}

.form_code .code {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer
}

.login_btn {
	width: 100%
}

.text-white {
	color: #f5f5f5;
}

.layui-carousel {
	float: left;
}

body {
	background: -webkit-gradient(linear, 100% 0, 0 0, color-stop(0.05, rgb(29, 169, 232)), color-stop(0.99, rgb(255, 182, 75)));
	background: -webkit-linear-gradient(right, rgb(29, 169, 232) 5%, rgb(255, 182, 75) 99%);
	background: -moz-linear-gradient(right, rgb(29, 169, 232) 5%, rgb(255, 182, 75) 99%);
	background: -o-linear-gradient(right, rgb(29, 169, 232) 5%, rgb(255, 182, 75) 99%);
	background: linear-gradient(right, rgb(29, 169, 232) 5%, rgb(255, 182, 75) 99%);
}